{% extends 'layout/page-2-col.html.twig' %}
{% block header %}Update Organization{% endblock %}
{% set js_ctrl, page  = 'updateOrganization', 'update-organization'  %}
{% block title %}<i class="fa fa-building-o"></i> Edit "{{ data.corporateName|default(data.email) }}"{% endblock %}
{% block page_body %}
    {{ form_start(form ) }}
    {{ form_widget(form) }}
    {% if data.logoUrl %}
    <figure>
        <img alt="{{ data.corporateName }}" src="{{ data.logoUrl|image_operation('resize', 200, 0) }}" width="200">
        <figcaption>logo {{ (data.logoSize)|number_format(0, ',', ' ')}} octets</figcaption>
    </figure>
    {% endif %}
    <div class="clearfix">
        <input type="submit" class="btn btn-default pull-right" value="Update" />
    </div>
    {{ form_end(form) }}
{% endblock %}
