<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block header %}Page Title{% endblock %} - SoLean IT</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('build/assets/images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
</head>
<body class="{{ page|default('') }}" data-page="{{ js_ctrl|default('none') }}" {% for key,value in data_attributes|default({}) %}data-{{ key }}="{{ value }}" {% endfor %}>
    <header class="navbar navbar-expand-md navbar-light navbar-main bg-light text-muted">
        <div class="container-fluid">
            <div class="navbar-brand ml-2 ml-md-0" id="js-identity">
                <a href="{{ path('dashboard_display') }}" title="Dashboard"><img src="{{ asset('build/assets/images/solean.png') }}" height="50" width="50" alt="PROSPECTER" class="rounded-circle"></a>
                {% if app.user %}
                    <small id="func-logged-user" class="font-italic">{{ app.user.username }}</small>
                    <a href="{{ path('logout') }}" title="logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                {% endif %}
            </div>
            <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#js-main-menu" aria-controls="js-main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-2" id="js-main-menu">
                {% set main_menu = knp_menu_get('main', options={'root_class': 'nav navbar-nav', 'child_attributes':{'attributes': {'class': 'nav-item'}, 'linkAttributes': {'class': 'nav-link'}}}) %}
                {{ knp_menu_render(main_menu,  { 'currentClass': 'active'}) }}
            </div>
        </div><!-- /.container -->
    </header><!-- /.navbar -->
    {# Flash messages #}
    {% block body %}
    {% endblock %}
    <footer class="bg-dark text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Informations</h2>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/SO-LEAN" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i> SOLEAN IT GitHub account</a></li>
                        <li><a href="https://fr.linkedin.com/in/michel-maier-a8b19187" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>  My Linkedin page</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 offset-sm-6">
                    <h2>Location</h2>
                    <address>
                        <strong>Solean IT</strong> <br>
                        20 avenue du Neuhof<br>
                        F-67100 Strasbourg <br>

                        France <br><br>
                        <a href="mailto:opensource@solean-it.com" aria-label="email address"><i class="fa fa-envelope-o" aria-hidden="true"></i> opensource@solean-it.com</a><br>
                    </address>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    © So Lean SARL | 2016 - {{ 'now'|date('Y') }}
                </div>
                <div class="col-sm-5">
                    N°SIRET 821 323 557 00016 <br>
                    APE 6202A / Conseil en systèmes et logiciels informatiques
                </div>
            </div>
        </div>
    </footer>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
